body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.6em;
	font-size: 1.3em;
}

a {
	color: #097659;
}

input {
	font-size: 1.5em;
}

.container {
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

ul {
	padding-left: 20px;
}

.delete-note-link {
	color: red;
}

.editable {
	border: 2px solid rgb(122, 199, 102); 
	padding: 20px;
}
 
#notes-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
}

.showing {
	visibility: true;
	background-color: rgb(1, 214, 12)
}

.not-showing {
	visibility: hidden;
}